PORT=3001
NODE_ENV=development

# Database - for local development only, not needed in production with D1
DATABASE_URL="postgresql://username:password@localhost:5432/database"

JWT_SECRET="0e3dff721c946ac26b873052e9e43560d0124d1548aa8cb8621daa6eb01c5735"
JWT_EXPIRY="24h"

FRONTEND_URL="http://localhost:5173"
